<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body id="us">
    <form action="/signin" method="post">
  {% csrf_token %}
    <div class="form__group field">
        {% include "authentication/passerror.html" %} 
        <input type="input" class="form__field" placeholder="UserId" name="username" id="username" required>
        <label for="username" class="form__label">UserId</label>
    </div>
    <div class="form__group1 field">
      <input type="password" class="form__field" placeholder="Password" name="pass1" id="pass1">
        <label for="password" class="form__label">Password</label>
    </div>
    <div class="form__group2 field">
      <button class="bt">Login</button>
    </div>
    </form>
  </body>
</html>